
{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}


<br>
<div class="row">
  {% for destination in destinations %}
	<div class = "col-2 col-sm-1  col-md-4 col-lg-6 my-3 "> 
		<div class="card bg-light"   >
		  <img class="card-img-top" src="{{destination.pretty_picture.url}}" alt="Card image cap" >
		  <div class="card-body">
		    <h5 class="card-title">Destination: {{destination.name}}</h5>
		    <p class="card-text"> {{destination.activities}}</p>
		    <a href="{% url 'destination-detail' destination.id %}" class="btn btn-secondary btn-lg btn-block">Learn more</a> 
		  </div>
		</div>
	</div>
  {% endfor %} 
</div> 

{% endblock content %}

